<!DOCTYPE html>
<html>
  <head>
    <title>LSystem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <%= javascript_include_tag 'react', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'react_ujs', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'components', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
