<!DOCTYPE html>
<html>
  <head>
    <title>L-Systems with ReactJS &amp; D3.js</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//d3js.org/d3.v4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <div class="container">
      <h1>L-Systems with ReactJS &amp; D3.js</h1>
    </div>

    <%= yield %>

    <%= javascript_include_tag 'react', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'react_ujs', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'components', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
